{%
  set classes = [
    'alert-bar',
    'js-alert-bar',
    'alert-bar--open',
    type ? 'alert-bar--' ~ type|clean_class,
    position ? 'alert-bar--' ~ position|clean_class,
    position_type ? 'alert-bar--' ~ position_type|clean_class,
  ]
%}

{% if type == 'alert' %}
  {% set alert_role = 'alert'  %}
{% else %}
  {% set alert_role = 'polite' %}
{% endif %}

{% if url %}
  <a href="{{ url }}" {{attributes.addClass(classes)}} data-timestamp="{{ timestamp }}" role="{{ alert_role }}">
{% else %}
  <div {{attributes.addClass(classes)}} data-timestamp="{{ timestamp }}" role="{{ alert_role }}>
{% endif %}

  {% if title %}
    <div class="alert-bar__title">{{ title }}</div>
  {% endif %}
  {% if text %}
    <div class="alert-bar__text">{{ text }}</div>
  {% endif %}
  {% if link_text and url %}
    <div class="alert-bar__link">{{ link_text }}</div>
  {% endif %}

  <button class="alert-bar__close js-alert-bar-close" aria-label="Close">Close</button>

{% if url %}
  </a>
{% else %}
  </div>
{% endif %}